
=render partial:"menubar/usermenu"

.dashboard-container.clearfix{ 'ng-controller' => "DashboardsController", 'ng-cloak'=>'', "ng-style"=>"{'background-color':bgcolor}" , "ng-init"=>"dashboardId = #{@dashboard.id}",}
  %button.btn.fa.fa-paint-brush.text-primary{:colorpicker => "",  "colorpicker-position" => "bottom", "ng-model" => "bgcolor","ng-init" => "bgcolor='#{@dashboard.dashboard_color}'", :type => "text"}


  %h1.text-center
    =@dashboard.name
  .gridster-container{'gridster'=>'gridsterOpts', 'ng-init'=>"fetchDashboardComponents('#{dashboard_component_dashboards_path(@dashboard, format: :json)}')"}
    %ul
      %li{'gridster-item'=>'dashboardComponent', 'ng-repeat'=>"dashboardComponent in dashboardComponents"}
        .gdstr-header.amount{'ng-if'=>'dashboardComponent.component.data_type == "amount"'}
          %h3.gdstr-title
            {{dashboardComponent.title}}
          %p.subtitle
            {{dashboardComponent.subtitle}}
          .loading-component{'ng-if'=>'dashboardComponent.loaded == false', 'ng-cloak'=>''}
            .fa.fa-spin.fa-circle-o-notch
          %h2.text-center{'ng-count-to'=>'{{dashboardComponent.amount}}', value: '{{dashboardComponent.amountOld}}', duration: '1', filter: "number"}

        .bar-chart{'ng-if'=>'dashboardComponent.component.data_type == "bar-chart"'}
          .loading-component{'ng-if'=>'dashboardComponent.loaded == false', 'ng-cloak'=>''}
            .fa.fa-spin.fa-circle-o-notch
          %canvas.chart.chart-bar{'chart-data'=>'dashboardComponent.data.values', 'chart-labels'=>'dashboardComponent.data.labels', 'chart-options' => 'dashboardComponent.chart_options'}
        .iframe{'ng-if'=>'dashboardComponent.component.data_type == "iframe"', style: 'height:100%;'}
          %iframe{ 'src'=>'{{dashboardComponent.endpoint | trustAsResourceUrl}}',  width: '100%', height: '100%'}
        .gdstr-header.amount{'ng-if'=>'dashboardComponent.component.data_type =="ranking"'}
          %h3.gdstr-title
            {{dashboardComponent.title}}
          .loading-component{'ng-if'=>'dashboardComponent.loaded == false', 'ng-cloak'=>''}
            .fa.fa-spin.fa-circle-o-notch
          %ul
            %li{'ng-repeat' => "ranked_school in dashboardComponent.ranking track by $index"}
              {{$index + 1}}) School id {{ranked_school.school_id}}: {{ranked_school.school_messages}} messages

  = link_to "<button>New Component Dashboard</button>".html_safe, new_dashboard_component_dashboard_path(dashboard_id: @dashboard.id)
  = link_to "<button>List Component Dashboards</button>".html_safe, dashboard_component_dashboards_path(dashboard_id: @dashboard.id)
