<!DOCTYPE html>
<html>
  <head>
    <title>DashBattle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="DashBattle">
    <%= render partial: 'layouts/navigation/navbar' %>
    <%= yield %>
  </body>
</html>
