<nav class="navbar navbar--dashbattle">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%=root_path%>">
        DashBattle
      </a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <%= link_to(dashboards_path) do %>
        <button type="button" class="btn btn-default navbar-btn">
          My Dashboards
        </button>
        <% end %>
        <%= link_to(destroy_user_session_path, :method => :delete) do %>
          <button type="button" class="btn btn-default navbar-btn">
            Logout
          </button>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path)  do %>
          <button type="button" class="btn btn-default navbar-btn">
            Login
          </button>
        <% end %>
        <%= link_to(new_user_registration_path)  do %>
          <button type="button" class="btn btn-default navbar-btn">
            Register
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
